# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PlantedMotifSearch.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\OneDrive\_Uni\Sherb\H2021\BIN702\Projet\PlantedMotifSearch\PlantedMotifSearch\.idea\.idea.PlantedMotifSearch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
